<html>
{{template "header"}}
<body>
{{template "top-bar" .}}
<h1>Open Classroom</h1>
<p>
    Open Classroom is a layer on top of Wikipedia that allows
    people to exchange their expertise and understanding through
    all the information available on the world's largest general
    reference source.
</p>
<h2>Social Knowledge - Chat Rooms and Navigation</h2>
<p>
    Every article has a persistent and unique chat room where people can discuss the content,
    ask for help understanding it, and share their ideas with one another. Users can follow each other's movement,
    essentially hosting permanent classrooms of discussion as they move around.
</p>
<img id="main-image" src="http://rack.3.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzcwL2Rvbm9yc2Nob29zLmNpai5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/1f2888e0/d40/donors-choose-how-crowdfunding-changes-classrooms-video--3a4b23f933.jpg"/>
<h1>Recent Activity</h1>
<div class="activity" id="global-activity"></div>
<style>
    #top-bar {
        margin-left: -8px;
        margin-top: -8px;
        margin-right: -8px;
    }
    #username #text {
        margin-top: -6px;
    }
</style>
</body>
</html>
